
.about-page{
  justify-content: center !important;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
}
.profiles{
  background-color: #FFDBB5;
  background-color: #C4DFAD;
  height:100vh;
}
.profiles-sections{
  display: flex;
  width: 100%;
}
.about-page h1{
  text-align: left;
  margin: 0;
  padding: 30px;
  padding-top: 50px;
  padding:50px 30px;
  padding-bottom: 0;
  margin-left: 70px;
  font-size: 4rem;
  font-family: 'Merienda', sans-serif;
  font-family: 'Philosopher', sans-serif !important;
  color: #047a5c9f;
  background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
  background-size: 110px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 1.5s infinite;

}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.profile-txt{
  width: 50%;
  height: max-content;
  text-align: left;
  margin-bottom: 30px;
  margin: 0 50px;
  border-radius: 15px;
  color: black;
  padding: 50px !important;
  background-color: transparent;
 
}
.profile-txt p {
  font-size: 18px;
  margin-bottom: 10px;
  
}
.profile-txt ul{
  list-style-type: disc;
  text-align: left;
  margin: 40px auto;
  display: inline-block;
  font-size: 15px;
  
}
.profile-txt li{
  margin-bottom: 10px;
  
}
.profile-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
 
}
.profile-buttons button{
  padding: 20px 50px;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color:white;
  border-radius: 20px 0 20px 0;
  border: 1px solid transparent;
  background-color: #1b6d62;
  cursor: pointer;
}
.frames-img{
  width: 470px;
  height: 450px;
  margin-top: -50px;
  margin-left: -50px;
}
.accounts h1{
  text-align: center;
}

.accounts-boxes{
  width: 80%;
  margin:80px auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  }


.left-1,.left-2,.left-3{
  text-align: center;
  height: max-content;
  padding: 40px;
  background-color: rgba(30, 30, 30, 0.6);
  color: white;
  transition: transform 0.3s ease-in-out;
}
.left-1{
    border-radius: 20px ;
    background: linear-gradient(164deg, rgba(0,117,181,1) 26%, rgba(12,180,243,1) 62%);

}
.left-2{
  border-radius: 20px ;
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.left-3{
    border-radius: 20px;
    background: linear-gradient(162deg, rgba(214,218,215,1) 0%, rgba(69,70,69,1) 24%, rgba(0,0,0,1) 52%, rgba(69,70,69,1) 78%, rgba(214,218,215,1) 100%);
}


.left-1:hover,
.left-2:hover,
.left-3:hover {
  transform: scale(1.1);
}

.left-1 a,.left-2 a,.left-3 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.section-middle-right{
  width:50%
}
@media (min-width: 768px) {
   
  
    /* .section-middle {
      width: 50%;
    } */
  
    .left-1,
    .left-2,
    .left-3 {
      width: 85%; /* Reset width for larger screens */
      
    }
  }
.logo-img{
    height: 55px;
    max-width: 55px;
    border-radius: 15px;
    margin-top: 10px;
    /* background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7); */
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  



/*.dribbble-link h2{
    position: relative;
    font-size: 4vw;
    color: transparent;
    margin-top: 0;
    -webkit-text-stroke: 0.3vw #563D10;
    text-transform: uppercase;
    
}
.dribbble-link h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    color: #E6C744;
    -webkit-text-stroke: 0vw #563D10;
    border-right: 1px solid #563D10;
    overflow: hidden;
    animation: animate 5s linear infinite;
}*/
@keyframes animate{
    
     0%,10%,100%{
        width: 0;
     }
    70%,90%{
        width: 51%;
    }
}
