.about-page{
  
    display: flex;
    justify-content: center !important;
    align-items: center;
    /* width:80%; */
    /* margin: 80px 80px; */
    margin: 20px;
    background-color: transparent;
    gap: 20px;

}

.section-left {
    margin-top: 20px; /* Adjust margin for smaller screens */
    /* border: 1px solid red; */
  }
  

.left-1,.left-2,.left-3{
  
    margin-bottom: 20px;
    text-align: center;
    /* height: max-content; */
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.6);
    /* border-radius: 15px; */
    color: white;
    transition: transform 0.3s ease-in-out;
}
.left-1{
    border-radius: 20px 20px 0 0;
    background: linear-gradient(164deg, rgba(0,117,181,1) 26%, rgba(12,180,243,1) 62%);

}
.left-2{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.left-3{
    border-radius: 0 0 20px 20px;
    background: linear-gradient(162deg, rgba(214,218,215,1) 0%, rgba(69,70,69,1) 24%, rgba(0,0,0,1) 52%, rgba(69,70,69,1) 78%, rgba(214,218,215,1) 100%);
}


.left-1:hover,
.left-2:hover,
.left-3:hover {
  transform: scale(1.1);
}

.left-1 a,.left-2 a,.left-3 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.section-middle{
    width:100%;
    margin-left: 0px;
    text-align: center;
    /* border: 1px solid yellow; */
}
@media (min-width: 768px) {
    /* Apply styles for screens larger than 768px width */
    .about-page {
      margin: 80px 60px;
    }
  
    .section-left,
    .section-right {
      width: 20%; /* Reset width for larger screens */
    }
  
    .section-middle {
      width: 50%;
    }
  
    .left-1,
    .left-2,
    .left-3 {
      width: 85%; /* Reset width for larger screens */
      margin-bottom: 30px; /* Reset margin for larger screens */
    }
  }
.logo-img{
    height: 55px;
    max-width: 55px;
    border-radius: 15px;
    margin-top: 10px;
    /* background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7); */
}

.ps-section{
  width: 100%;
    height: max-content;
    justify-content: center;
    padding: 20px;
    color: black;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 15px;
    background: linear-gradient(164deg, rgba(248,185,154,1) 20%, rgba(246,200,141,1) 45%, rgba(225,196,183,1) 63%, rgba(190,241,201,1) 89%);
    /* font-family: 'Montserrat Alternates', sans-serif !important; */

}
.resume-dload{
    width: 100%;
    margin-top:15px ;
    height: max-content;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(137deg, rgba(73,242,180,1) 32%, rgba(26,175,211,1) 66%);

}
.resume-dload p{
    color: black;
}
.resume-dload a{
    text-decoration: none;
    color:darkgrey;
  
}
.dload-logo{
    width:35px;
    height: 47px;
}

.dribbble-link{
    height: max-content;
    padding: 40px;
    margin-bottom: 30px;
    /* background-color: transparent;
    border: 2px solid darkgrey; */
    border-radius: 15px;
    color: darkgrey;
    background-color: transparent;
    border: 5px solid rgba(30, 30, 30, 0.8);
}
.dribbble-logo-img{
    height: 15vh;
    width: 10vw;
}
.certificates{
    height: max-content;
    padding: 40px;
    background-color: rgba(30, 30, 30, 0.6);
    /* background-color: transparent;
    border: 2px solid darkgrey; */
    border-radius: 15px;
    color: darkgrey;
    background-color: transparent;
    border: 2px solid darkgrey;
    border: 5px solid rgba(30, 30, 30, 0.8);

}
.certf-head {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Stylish', serif !important;
    color:#eb498c;
    opacity: 0;
    animation: fadeIn 4s forwards infinite;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.certificates a{
    
    color:darkgrey;
    font-size: 18px;
   text-decoration:underline;
}
.certificate-links {
    display: flex;
    /* gap: 20px;  */
    justify-content: space-evenly;
  }
.dribbble-link h2{
    /* font-family: 'Stylish', serif; */
    position: relative;
    font-size: 4vw;
    color: transparent;
    margin-top: 0;
    -webkit-text-stroke: 0.3vw #563D10;
    text-transform: uppercase;
    
}
.dribbble-link h2::before{
    content: attr(data-text);
    position: absolute;
    /* left: 0; */
    top: 0;
    height: 100%;
    width: 0;
    color: #E6C744;
    -webkit-text-stroke: 0vw #563D10;
    border-right: 1px solid #563D10;
    overflow: hidden;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    
     0%,10%,100%{
        width: 0;
     }
    70%,90%{
        width: 51%;
    }
}
