.about-page {
  justify-content: center !important;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
  width: 85%;
  margin: auto;
}

.profiles {
  border: 10px solid white;
  background-color:#F4F4F4;
  height: auto; /* Change to auto for responsive height */
  padding: 20px;
  margin: 30px auto;
  border-radius: 20px;
}

.profiles-sections {
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
  align-items: center;
  width: 100%;
}

.about-page h1 {
  text-align: center;
  margin: 0;
  padding: 50px 30px;
  font-size: 2rem; /* Reduce size for smaller screens */
  /* font-family: 'Philosopher', sans-serif !important; */
  font-family: "Poiret One", serif;
  color: #D02632;
}

.profile-txt {
  width: 80%; /* Full width for smaller screens */
  text-align: center; /* Center text on small screens */
  margin-bottom: 20px;
  padding: 20px;
  background-color: transparent;
}

.profile-txt ul {
  text-align: left;
  margin: 20px auto;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Enable wrapping for buttons on small screens */
  gap: 20px;
}

.profile-buttons button {
  font-size: 14px;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color:white;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: #D02632;
  cursor: pointer;
}

.frames-img {
  width: 100%;
  height: auto; /* Responsive image sizing */
  max-width: 450px; /* Limit max size for larger screens */
  margin-top: 20px;
}


/* Responsive Design Adjustments */
@media (min-width: 768px) {
  .accounts-boxes {
    flex-direction: row; /* Horizontally align boxes on medium to large screens */
    gap: 30px;
    width: 50%;
  }

  .logo-img {
    height: 50px; /* Increase logo size for larger screens */
    max-width: 50px;
  }

  .left-1, .left-2, .left-3 {
    padding: 40px; /* Add more padding for larger screens */
  }

  .left-1:hover, .left-2:hover, .left-3:hover {
    transform: scale(1.1); /* Increase hover effect on larger screens */
  }
}

@media (min-width: 1024px) {
  .accounts-boxes {
    width: 70%; /* Further reduce the width on large screens for better alignment */
  }

  .logo-img {
    height: 60px; /* Even larger logo size for large screens */
    max-width: 60px;
  }
}

@media (min-width: 768px) {
  .profiles-sections {
    flex-direction: row; /* Switch to row layout for medium screens */
    justify-content: space-between;
  }

  .profile-txt {
    width: 50%; /* Increase width for larger screens */
  }

  .frames-img {
    width: 470px;
    height: 450px;
  }

  .accounts-boxes {
    flex-direction: row; /* Row layout for larger screens */
    gap: 50px;
  }
}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
