
body{
  height: 100vh;
  background-color: #FCE6E0;
}
.home{
  background-color: white;
  width: 70%; 
  margin: auto;
  height: max-content; 
 /* background-image: url('../../../public/images/homebackground.png');  */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 20px;
}
.home-container {
  margin: 100px auto;
  margin-bottom: 0;
  width: 80%;
  padding: 10px;
  /*background-color: rgba(30, 30, 30, 0.6);*/
  border-radius: 15px;
  color: black;
  text-align: center;
  
}

.home-sections{
  height: max-content;
  display: block;
  justify-content: center;
  align-items:center ;
  
}
.hello-txt{
  margin-top: 50px !important;
}
.my-name{
  height: max-content;
  margin: 20px;
 
}
.name-head{
  font-family: 'Philosopher', sans-serif !important;
  font-size: 50px !important;
}
.animated-text {
  background: linear-gradient(45deg, #f85026, #f78c3b, #b1ac2c, #137c31, #088676);
  background: linear-gradient(45deg, #ff8656, #fab451,#f575e4,#f04973,#35ddf7);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  animation: textAnimation 5s infinite;
  font-size: inherit;
}

@keyframes textAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.location{
  display: flex;
  justify-content: center;
  
}
/* Home.css */
.india-text {
  font-family: 'Julius Sans One', sans-serif; 
  letter-spacing: 8px !important; 
  color:black; 
  padding: 5px;
}

.home-right{
  width: 100%;
  text-align: center;
 
}

.home-para{
  text-align: center;
  justify-content: center;
  align-items: center;
  /*font-family: 'Montserrat Alternates', sans-serif !important;*/
  font-size: 15px !important;
  height: max-content;
  padding-top: 50px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
}
.home-para2{
  text-align: center;
  justify-content: center;
  align-items: center;
  /*font-family: 'Montserrat Alternates', sans-serif !important;*/
  font-size: 15px !important;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
}
@media (min-width: 768px) {
  /* Apply styles for screens larger than 768px width */
  .home-container {
    width: 70%;
  }

  .home-sections {
    justify-content: space-between; /* Align sections side by side */
  }

  .home-left,
  .home-right {
    width: 100%; /* Adjust width for larger screens */
  }
  .sec-divider{
    background-color:#C4DFAD ;
    height: 20px;
    border: transparent;
  }
}