
body{
  background-color: black;
  height: 100vh;
}

.home-container {
  margin: auto;
  margin-top: 150px;
  width: 80%;
  height: 500px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* background-color: #1E1E1E; */
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 15px;
  color: white;
  text-align: center;
  
}

.home-sections{
  display: flex;
  height: 80%;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */

}

.home-left,.home-right {
  /* display: flex; */
  width: 50%; /* Make both sections take full width on smaller screens */
  text-align: center;
  margin-bottom: 20px; /* Add some spacing between the sections */
}
.my-name{
  height: max-content;
  padding: 10px;
  margin-top: 30%;
 
}
.name-head{
 
  font-family: 'Philosopher', sans-serif !important;
  font-size: 50px !important;

}
.animated-text {
  background: linear-gradient(45deg, #f5613c, #f8a769, #fcf649, #6df393, #35f3d9);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  animation: textAnimation 5s infinite;
  font-size: inherit;
}

@keyframes textAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.location{
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}
/* Home.css */
.india-text {
  font-family: 'Julius Sans One', sans-serif; 
  letter-spacing: 8px !important; 
  color:white; 
  padding: 5px;
}

.home-right{
  width: 50%;
  text-align: center;
 
}

.home-para{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif !important;
  font-size: 18px !important;
  margin-top: 40% !important;
}

@media (min-width: 768px) {
  /* Apply styles for screens larger than 768px width */
  .home-container {
    width: 70%;
  }

  .home-sections {
    justify-content: space-between; /* Align sections side by side */
  }

  .home-left,
  .home-right {
    width: 48%; /* Adjust width for larger screens */
  }
}