.contactpage{
  margin: 50px auto;

}
.contact-container {
  margin: auto;
  width: 80%;
  height: 500px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  background-color: rgba(30, 30, 30, 0.6);
  /* background-color: white; */
  border-radius: 15px;
  color: white;
  text-align: center;
  }

.contact-head{
  color: white;
}
.names-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.form-input,
.textarea {
  width: 100%;
  color: #898787;
  border: 1px solid #282828;
  background-color: #282828;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.form-input:hover,
.textarea:hover {
  transform: scale(1.1);
}

.button {
  width: 50%;
  font-size: 20px;
  padding: 15px;
  border: 2px solid white;
  color: white;
  border-radius: 15px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: white !important;
  color: black !important;
}

@media (min-width: 768px) {
  .contact-container {
    width: 60%;
  }
}