.navbar{
  position: sticky;
  display: flex;
  justify-content:center;
  align-items: flex-end;
  padding-right: 80px;
  background-color: white !important;
  top: 0; /* Ensures the sticky position sticks at the top */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3) !important;
  z-index: 1000; /* Keeps the navbar above other elements when scrolling */
}

.nav-link {
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    color: black; /* Default link color */
    text-decoration: none;
    margin: 35px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
.nav-link:hover {
  color: #ED7C82;
  cursor: pointer;
}

.active-link {
    color: #ED7C82; /* Color for the active link */
  }

/* .button:hover{
  background-color:rgba(84, 83, 83, 0.6);
  color:black;
} */
