.navbar{
  position: sticky;
  display: flex;
  justify-content:center;
  align-items: center;
  top: 0; /* Ensures the sticky position sticks at the top */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3) !important; /* White shadow */
  z-index: 1000; /* Keeps the navbar above other elements when scrolling */
}
 
.nav-link {
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    color: white; /* Default link color */
    text-decoration: none;
    margin: 35px 20px;
  }
.nav-link:hover {
  color: #ED7C82;
  cursor: pointer;
}

.active-link {
    color: #ED7C82; /* Color for the active link */
  }
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: black !important;
  }
/* .button:hover{
  background-color:rgba(84, 83, 83, 0.6);
  color:black;
} */
