/* Main navbar styles */
.navbar {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* Link styles */
.nav-link {
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-link:hover {
  color: #ED7C82;
  cursor: pointer;
}

.active-link {
  color: #ED7C82; /* Color for the active link */
}

/* Hide menu button on larger screens */
.menu-button {
  display: none;
}

/* Responsive layout for mobile screens */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }

  /* Hide the nav-links on mobile */
  .nav-links {
    display: none;
  }

  /* Show the hamburger menu on smaller screens */
  .menu-button {
    display: block;
  }
}

/* Mobile dropdown menu styles */
.menu-dropdown .MuiPaper-root {
  background-color: white;
  color: black;
}

.menu-dropdown .nav-link {
  margin: 0;
}
