.footer-box{
    padding: 30px;
    background-color:#282828;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    color: white;
}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* background-color: teal; */
 }
 
.follow a{
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    margin:10px 10px;
    cursor: grab;
    transition: .6s linear !important;
    color: black;
    
}
 
.follow a:hover{
    transform: rotate(360deg);
    color:white;
    
 }
